services:
  backend:
    build: ./backend
    container_name: backend_service
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend/myapp
      args:
        REACT_APP_API_URL: "http://localhost:5000"
    container_name: frontend_service
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app_network

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  db_data:
